#nav

{

    float: left;

    width: 600px;

    border: 1px solid black;

} 

#nav2

{


	Position : absolute ;
	top : 530px; left : 370px ;

}
#nav3
{


	Position : absolute ;
	top : 430px; left : 370px ;

}
